
:root{
    font-family: cursive;
    color: #ffd059;
    font-weight: 400;
    background-color: rgb(19, 18, 18);
}
.Home {
    min-height: 100vh;
    /* padding-bottom: 2.5em; */
    position: relative;
}
.Content {  
    text-align: left;
    position: relative;
    top: -18%;
    left: 38%;
    font-size: 50px;
    font-weight: 900;
    line-height: 70px;
    z-index: 2;
    width: 60%;
    letter-spacing: 2px;
}

.Body{
    margin-top:10% ;
}

.Body img {
    position: absolute;
    height: 750px;
    z-index: 1;
    /* border-radius: 10px; */
}
.Content ul {
    position: relative;
    left: 40%;
    list-style: none;
}

.Content ul li{
    line-height: 11px;
}

.Content ul a {
    text-decoration: none;
    color: #ffd059;
    font-size: 15px;
    font-weight: 100;
}

.Content ul a:hover {
    font-size: 18px;
    color: #c2bfb7;
}

.HomeButton {
        margin: 0 15%;
        width: 20%;
        text-align: center;
}

.HomeButton a {
    color: gray;
    font-weight: bolder;
    font-size: 25px;
    text-decoration: underline;
}
button:hover {
    cursor: pointer;
}

@media (min-width:1024px){   
    .Home .Body {
        text-align: center;        
        display: flex;
        padding: 0 6%;
        box-sizing: border-box;
     }
     .Home .Body img {
        width: 60%;
        height: 60%;

    } 
    button:hover {
        cursor: pointer;
    }
    .Home .Content{
        padding:-15px 50px;
        /* box-sizing: border-box; */
    }
}
@media (max-width:1024px){   
    .Home{
        margin: 0 5%;
        min-height: 210vh;
    }
    .Home .Content{
        width: 150%;
        font-size: 80px;
        padding: 0 1%;
        left: 140%;
    }
    .Body {
        width: 100%;
        }
.HomeButton{
    position: relative;
    left: 35%;  
    width: 100%;
}

    .Content ul li{
        line-height: 35px;
    }
.Content ul {
    left: 100%;
    width: 100%;

}
    .Content ul a {
        font-size: 40px;
        font-weight: 500;
    }

.Content{
    margin: 0;
    padding: 20px 10px;
    font-size: 25px;
}

.Home .Body img {
    margin-top: 7%;
    width: 180%;
    height: 80%;
}

.HomeButton a {
    font-size: 70px;
    font-weight: 900;
}
}
@media (max-width:768px){   

    .Home{
        margin: 0 5%;
        min-height: 250vh;
    }
    .Home .Content{
        width: 150%;
        font-size: 80px;
        padding: 0 1%;
        left: 140%;
    }
    .Body {
        width: 100%;
    }
    .Home .Content {
       
        margin-right: 0%!important;
    }
.HomeButton{
    position: relative;
    left: 45%;  
    width: 50%;
}

    .Content ul li{
        line-height: 25px;
    }
.Content ul {
    left: 100%;
    width: 100%;

}
    .Content ul a {
        font-size: 40px;
        font-weight: 500;
    }

.Content{
    margin: 0;
    padding: 20px 10px;
    font-size: 25px;
}

.Home .Body img {
    margin-top: 7%;
    height: 80%;
}

.HomeButton a {
    font-size: 0px;
    font-weight: 900;
}
}
@media (max-width:414px){
    .Home {
        min-height: 290vh ;
    }
    .Home .Body img{
        left: 65px;        
        height:65% 
    }

    .Home .Content {
        top: 1100px;
        width: 800px;
        text-align: center;
        line-height: normal;
        font-size: 45px;
        font-weight: 900;
    }

    .Home ul {
        width: 700px;
    }
    .Home ul a{
        font-size: 30px!important;
        line-height: 45px;
        font-weight: 900;
    }

    .HomeButton {
        left: 10px;
    }
    .HomeButton a {
        font-size: 60px;
        font-weight: 900;
    }}
@media (max-width:375px){
    .Home {
        min-height: 250vh ;
    }
    .Home .Body img{
        left: 40px;        
        height:70% 
    }

    .Home .Content {
        top: 1100px;
        width: 800px;
        text-align: center;
        line-height: normal;
        font-size: 45px;
        font-weight: 900;
    }

    .Home ul {
        width: 700px;
    }
    .Home ul a{
        font-size: 30px!important;
        line-height: 45px;
        font-weight: 900;
    }

    .HomeButton {
        left: 10px;
    }
    .HomeButton a {
        font-size: 60px!important;
        font-weight: 900;
    }

   }


@media (max-width:411px){
    .Home {
        min-height: 280vh ;
    }
    .Home .Body img{
        left: 40px;        
        height:70% 
    }

    .Home .Content {
        top: 1100px;
        width: 800px;
        text-align: center;
        line-height: normal;
        font-size: 45px;
        font-weight: 900;
    }

    .Home ul {
        width: 700px;
    }
    .Home ul a{
        font-size: 30px!important;
        line-height: 45px;
        font-weight: 900;
    }

    .HomeButton {
        left: 10px;
    }
    .HomeButton a {
        font-size: 60px!important;
        font-weight: 900;
    }

   }
@media (max-height:667px){
    .Home {
        min-height: 300vh ;
    }
   }
